body {
    width: 600px;
    margin: 20px auto;
    font-family: 'District Pro', sans-serif;
    font-size: 1.5em;
    color: #333;
    font-smoothing: antialiased;
    text-align: center;
    line-height: 135%;
    background-color: #eee;
}

.avatar {
    border-radius: 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'District Pro', sans-serif;
    font-weight: normal;
    color: #000;
}

h1 {
    font-size: 2em;
    margin-top: 24px;
}

h2 {
    font-size: 1.5em;
}

h1, h2, p {
    margin-bottom: 24px;
}

p, ul {
    color: #4f4f4f;
}

a {
    color: #368;
    text-decoration: none;
}

/* Flaired edges, by Tomas Theunissen */
		
hr {
    height: 15px;
    border-style: solid;
    border-color: #888;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-bottom: 5px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 15px;
    margin-top: -16px;
    border-style: solid;
    border-color: #888;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.center {
    width: 400px;
    margin: 0 auto;
    text-align: left;
    padding-left: 100px;
}

ul.nav {
    list-style-type: none;
    margin: 15px;
}

ul.nav li {
    display: inline;
}

ul.nav li:not(:last-child):after {
    content: " |";
}