@font-face {
    font-family: 'District Pro';
    src: url('distproth-webfont.woff2') format('woff2'),
         url('distproth-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
